<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head lang="en">

</head>
<body>

<div class="container">
    <div th:fragment="header">
        <nav class="navbar navbar-default navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#" th:href="@{/}"><i class="fa fa-home" aria-hidden="true"></i></a>
                    <ul class="nav navbar-nav">
                        <li><a href="#" th:href="@{/product/all}"><i class="fa fa-list" aria-hidden="true"></i>
                            Products</a></li>
                        <li><a href="#" th:href="@{/product/new}" sec:authorize="hasRole('ADMIN')">
                            <i class="fa fa-plus" aria-hidden="true"></i> Create Product</a></li>
                    </ul>
                    <ul class="nav navbar-nav justify-content-end">
                        <li>
                            <span class="welcome navbar-text" sec:authorize="isAuthenticated()">Welcome <span
                                    sec:authentication="name"></span></span>
                        </li>
                        <li><a href="#" th:href="@{/login}" sec:authorize="!isAuthenticated()"><i class="fa fa-sign-in"
                                                                                                  aria-hidden="true"></i>
                            Sign in</a></li>
                        <li><a href="#" th:href="@{/logout}" sec:authorize="isAuthenticated()"><i class="fa fa-sign-out"
                                                                                                  aria-hidden="true"></i>
                            Sign out</a></li>
                    </ul>

                </div>
            </div>
        </nav>

        <div class="jumbotron">
            <div class="row text-center">
                <div class="">
                    <h2>Spring Framework</h2>

                    <h3>Spring Boot Web App</h3>
                </div>
            </div>
            <div class="row text-center">
                <img src="../../static/images/Example.png" width="300"
                     th:src="@{/images/Example.png}"/>
            </div>
        </div>
    </div>
</div>

</body>
</html>